node_modules
.next
out
build
dist
.env
.env.local
.env.*.local
prisma/*.db
prisma/*.db-journal
prisma/*.db.backup
client_secret*.json
*.log
npm-debug.log*
.DS_Store
coverage
*.tsbuildinfo
.vscode/*
!.vscode/extensions.json
test-results
playwright-report
blob-report
playwright/.cache
